<h1>Command Line Menu</h1>
<br />

<a href="/command_line">1: Command line</a>
<br />
<a href="/search_menu">2: Search menu</a>
<br />
<a href="https://www.google.com/?gws_rd=ssl" target="_blank">3: Google</a>