<h1>Command line</h1>
<br />

<a href="/command_line_menu">Command line menu</a>
<br />

<a href="/man/cp">1: CP</a>
<br />

<a href="/man/ls">2: LS</a>
<br />

<a href="/man/mkdir">3: MKDIR</a>
<br />

<a href="/man/touch">4: TOUCH</a>
<br />

<a href="/man/mv">5: MV</a>
<br />